---
import Layout from "../components/navbar.astro";
const title = "Biodata";
import andraimg from "../assets/gwh.jpg";
import pakimg from "../assets/paktol.jpg";
import dettol from "../assets/dettol.jpg";
import relimg from "../assets/farell.jpg";
import renoimg from "../assets/reno.jpg";
import noimg from "../assets/idkss.png";
---

<Layout title={title}>
  <p class="biojdl">PPLG Classmate's</p>
  <div class="bungkus">
    <div class="pembungkus">
      <i id="kiri" class="fa fa-angle-left"></i>
      <ul class="corosal">
        <li class="card">
          <div class="gambar-propil">
            <img src={andraimg.src} alt="" class="propil" draggable="false" />
          </div>
          <h2 class="namaa">Riandra X Azizi</h2>
          <span class="biodatas">Front End Ajalah</span>
          <br>
          <div class="tombol">
            <button id="button1">About Me</button>
            <button class="hirepls">Hire Me</button>
          </div> 
        </li>

        <li class="card">
          <div class="gambar-propil">
            <img src={pakimg.src} alt="" class="propil" draggable="false" />
          </div>
          <h2 class="namaa">Paksi X Adel</h2>
          <span class="biodatas">Back End Gjls</span>
          <br>
          <div class="tombol">
            <button id="button2">About Me</button>
            <button class="hirepls">Hire Me</button>
          </div>
        </li>

        <li class="card">
          <div class="gambar-propil">
            <img src={dettol.src} alt="" class="propil" draggable="false" />
          </div>
          <h2 class="namaa">Denis X Ara Ara</h2>
          <span class="biodatas">Full Stack Ktnya</span>
          <br>
          <div class="tombol">
            <button id="button3">About Me</button>
            <button class="hirepls">Hire Me</button>
          </div>
        </li>

        <li class="card">
          <div class="gambar-propil">
            <img src={relimg.src} alt="" class="propil" draggable="false" />
          </div>
          <h2 class="namaa">Farel X Coding</h2>
          <span class="biodatas">Fullstack Banget Ni Mh</span>
          <br>
          <div class="tombol">
            <button id="button4">About Me</button>
            <button class="hirepls">Hire Me</button>
          </div>
        </li>

        <li class="card">
          <div class="gambar-propil">
            <img src={renoimg.src} alt="" class="propil" draggable="false" />
          </div>
          <h2 class="namaa">Reyno X Ella</h2>
          <span class="biodatas">G Tawu gwh</span>
          <br>
          <div class="tombol">
            <button id="button5">About Me</button>
            <button class="hirepls">Hire Me</button>
          </div>
        </li>

        <li class="card">
          <div class="gambar-propil">
            <img src={noimg.src} alt="" class="propil" draggable="false" />
          </div>
          <h2 class="namaa">Ameri</h2>
          <span class="biodatas">Hemker Berkelas</span>
          <br>
          <div class="tombol">
            <button id="button6">About Me</button>
            <button class="hirepls">Hire Me</button>
          </div>
        </li>

        <li class="card">
          <div class="gambar-propil">
            <img src={noimg.src} alt="" class="propil" draggable="false" />
          </div>
          <h2 class="namaa">Rico</h2>
          <span class="biodatas">Putsal Pero</span>
          <br>
          <div class="tombol">
            <button id="button7">About Me</button>
            <button class="hirepls">Hire Me</button>
          </div>
        </li>

        <li class="card">
          <div class="gambar-propil">
            <img src={noimg.src} alt="" class="propil" draggable="false" />
          </div>
          <h2 class="namaa">Rasya</h2>
          <span class="biodatas">Putsal Maprend</span>
          <br>
          <div class="tombol">
            <button id="button8">About Me</button>
            <button class="hirepls">Hire Me</button>
          </div>
        </li>
      </ul>
      <i id="kanan" class="fa fa-angle-right"></i>
    </div>
  </div>


  <div id="pupup" class="pupup pupups">
    <div class="pupup-content">
            <i class="fa-solid fa-check fa-beat fa-2xl"></i>
            <p>Thanks For Hiring Me!!</p>
            <div class="okbut">
              <button class="butun closepupup" id="closepupup">Oke</button>
            </div>
    </div>
</div>

<div id="biodata1" class="biopop" style="display: none;">
  <div class="biopop-content">
          <h1>About Me</h1>
          <p>Hello My Name is Riandra <br>I'm Good at some Programming Language, <br>Like Html,Cpp,Csharp And Etc (Amin Wkwk)</p>
          <div class="okbut-bio">
            <button class="butun closePopup" id="closepupup">Oke</button>
          </div>
  </div>
</div>

<div id="biodata2" class="biopop" style="display: none;">
  <div class="biopop-content">
          <h1>About Me</h1>
          <p>My Name Is Paksi</p>
          <div class="okbut-bio">
            <button class="butun closePopup" id="closepupup">Oke</button>
          </div>
  </div>
</div>
<div id="biodata3" class="biopop" style="display: none;">
  <div class="biopop-content">
          <h1>About Me</h1>
          <p>My Name Is Denis</p>
          <div class="okbut-bio">
            <button class="butun closePopup" id="closepupup">Oke</button>
          </div>
  </div>
</div>
<div id="biodata4" class="biopop" style="display: none;">
  <div class="biopop-content">
          <h1>About Me</h1>
          <p>My Name Is Farel</p>
          <div class="okbut-bio">
            <button class="butun closePopup" id="closepupup">Oke</button>
          </div>
  </div>
</div>
<div id="biodata5" class="biopop" style="display: none;">
  <div class="biopop-content">
          <h1>About Me</h1>
          <p>My Name Is Reyno</p>
          <div class="okbut-bio">
            <button class="butun closePopup" id="closepupup">Oke</button>
          </div>
  </div>
</div>
<div id="biodata6" class="biopop" style="display: none;">
  <div class="biopop-content">
          <h1>About Me</h1>
          <p>My Name Is Ameri</p>
          <div class="okbut-bio">
            <button class="butun closePopup" id="closepupup">Oke</button>
          </div>
  </div>
</div>
<div id="biodata7" class="biopop" style="display: none;">
  <div class="biopop-content">
          <h1>About Me</h1>
          <p>My Name Is Rico</p>
          <div class="okbut-bio">
            <button class="butun closePopup" id="closepupup">Oke</button>
          </div>
  </div>
</div>
<div id="biodata8" class="biopop" style="display: none;">
  <div class="biopop-content">
          <h1>About Me</h1>
          <p>My Name Is Rasya</p>
          <div class="okbut-bio">
            <button class="butun closePopup" id="closepupup">Oke</button>
          </div>
  </div>
</div>
</Layout>